mat-card {
    max-width: 800px;
    margin: auto;
  
    &-title {
      text-align: center;
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      // padding: 30px;
    }
  }
  
  mat-spinner {
    margin-top: 300px;
    margin: auto;
  }
  