<div class="section">
    <h1>Learn Basic Math Division</h1>
    <p>Subtracting a certain number of objects again and again is division.
    </p>

    <mat-card>
        <h2>Simple Examples</h2>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        1. 21 ÷ 3 = ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>To divide 21 by 3, say the 3 times table up to 21.</strong>
                <p>Three sevens are twenty-one, hence 7 is the quotient.
                    Subtract the product of 3 and 7 from the given 21.The remainder is zero.</p>
                <p>= 7</p>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-card>

    <mat-divider></mat-divider>

    <mat-card>
        <h2>Word Examples</h2>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        1. If there are 17 apples to be divided among 4 children. How many will remain?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>17 ÷ 4 = How many?</strong>
                <p>Say the 4 times table up to 17. Four fours are 16, 4 fives are 20. 20 is bigger than 17.</p>
                <p>Hence, we will stop at 4 fours. Write 4 above the line in the quotient. 4 × 4 = 16.</p>
                <p>From the dividend 17, subtract the product 16.</p>
                <p>= 1</p>
            </mat-expansion-panel>
        </mat-accordion>

        <br>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        2. A book has 64 pages. Elizabeth reads 2 pages every day. In how many days will she complete
                        the book?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>17 ÷ 4 = How many?</strong>
                <p>To divide, first look at the digit on the left in the dividend. Say the 2 times table up to 6.</p>
                <p>Two threes are six. The product of 3 and 2 is 6. Subtract this product from 6 T. Zero tens remain.
                    Write the 3 above the line in the tens place in the dividend.</p>
                <p>Write the 4 units in front of the 0. Divide 4 units by 2. Say the 2 times table up to 4.
                    The quotient is 2. The product of 2 and 2 is 4. Subtract this product from 4 U. Zero tens remain.
                </p>
                <p>= 32</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card>
        <h2>Divide Three Digit Numbers</h2>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        1. 516 ÷ 4 = ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>17 ÷ 4 = How many?</strong>
                <p>The product of 4 and 1 is 4. Subtract this product from 5 H. 1H remains. The quotient is 1.</p>
                <p>Write the 1 tens in front of the 1. Divide 11 tens by 4. 11T-8T. The quotient is 2. Remainder is 3.
                    Write the 6 units in front of the 3. Divide 36 units by 4. Say the 4 times table up to 36.</p>
                <p>The quotient is 9. Subtract this product from 36 U. Remainder 0.
                    The quotient is 129.</p>
                <p>= 129</p>
            </mat-expansion-panel>
        </mat-accordion>

        <br>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        2. 3876 shirts are arranges in 17 shelves. If equal numbers of shirts are kept on each shelf,
                        how many shirts are there in each shelf?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>17 ÷ 4 = How many?</strong>
                <p>To find the number of shirts in each shelf divide 3876 by 17.
                    To divide, first look at the thousands place in the dividend. Which is 3.
                    3 is smaller than divisor 17. 3 cannot be divided by 17. Take 38 to divide with 17.</p>
                <p>Divide 38 by 17. Subtract 34 from 38. The quotient is 2. Remainder is 4.
                    Write the 7 tens in front of the 4. Divide 47 by 17. Subtract 34 from 47.
                    The quotient is 2. Remainder is 13.</p>
                <p>Write the 6 units in front of the 13. Divide 136 units by 17.
                    Say the 17 times table up to 136.
                    The quotient is 8. Subtract this product from 136 U. Remainder 0.
                    The quotient is 228.</p>
                <p>= 228</p>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-card>

    <mat-card>
            <a mat-button color="primary" routerLink="">Try The Addition Game</a>
    </mat-card>
</div>