<div class="section">

  <mat-card>
    <h1>About Us</h1>
    <mat-tab-group>
      <mat-tab label="The Mission">
        <p>
          The idea and the underlying mission was to provide young students with the tools to boost their reasoning,
          analytical and problem solving skills. That’s because Math is not just numbers, it is a concept that's deeply
          embedded in the real world. This vision and dream came as Maths Is Fun in 2020.
        </p>


      </mat-tab>
      <mat-tab label="What We Believe In">

        <p>
          Every child has the potential to reach the zenith of success if given an opportunity and resources to hone the
          skills and explore the untapped potential.
        </p>
        <p>
          Parents do not have to wait for the report card to know about their child’s progress in school.They should be
          able to recognize the strength and weakness and track the progress on a daily basis.
        </p>
        <p>
          Teachers should look for new ways to tell the same old story. Hence they should constantly strive to find
          creative ways to keep their students interested and make learning a fun thing.
        </p>
        <p>
          Education should be offered for free but unfortunately with the rising cost in the learning centers, many
          students are deprived from opportunities that can aid in shaping their future.
        </p>
        <p>
          Participation in high-quality education programs from a young age can help foster the cognitive and social
          growth of children, and turn them into successful adolescents.
        </p>
      </mat-tab>
      <mat-tab label="Why Math Matters">
        <p>
          Combining Math and Technology can open new doors of opportunities and put today’s children in powerful
          positions so that they can take charge of their lives tomorrow.
        </p>
        <p>
          Mathematics are building blocks for the future and one can harness its power in solving real and relevant
          problems of everyday life.
        </p>
        <p>
          Core Mathematical concepts help children make better sense of the world and widen their horizons.
        </p>
        <p>
          By building a solid foundation in Mathematics ,children begin to realize the importance of numbers from an
          early age.
        </p>
        <p>
          Mathematics is a gateway to the future the future and a competency necessary to succeed in science, IT and
          engineering fields.
        </p>
      </mat-tab>
    </mat-tab-group>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <p>
        <strong>Math Is Fun</strong> made by <a href="https://nm-ltd.co.uk" title="NM">NM Ltd</a>
      </p>
    </mat-card-actions>
  </mat-card>


</div>