<div class="section">
    <h1>Learn Basic Math Addition</h1>
    <p>Addition means joining things together. It can also be defined as Combining collections of objects together into
        a larger collection is Addition.It is represented by the ‘+’ sign.

        We can add the integers using the number line.
    </p>

    <mat-card>
        <h2>Simple Examples</h2>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        1. Count 5 + 5 = ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>5 + 5</strong>
                <p>Take 5 and then add 5 to it.</p>
                <p>= 10</p>
            </mat-expansion-panel>
        </mat-accordion>

        <br>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        2. What is 8 + 6 = ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>8 + 6</strong>
                <p>We will count 6 after 8. So we will get 14.</p>
                <p>= 14</p>
            </mat-expansion-panel>
        </mat-accordion>

        <br>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3. Lisa has 6 pencils and she buys 7 pencils, how many pencils does she have now?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>

                <strong>Lisa has 6 pencils.</strong>
                <p>She buys 7 pencils</p>
                <p>So thats, 7 add 6</p>
                <p>= 13</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card>
        <h2>Word Examples</h2>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        1. Matt has 5 marbles. Elizabeth gives him 9 more. How many marbles does Matt have now?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>Matt had 5 marbles. Elizabeth gave him more 9 marbles.</strong>
                <p>So thats 9 added 5.</p>
                <p>5 + 9</p>
                <p>= 14</p>
            </mat-expansion-panel>
        </mat-accordion>

        <br>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        2. A library has 100 Maths books, 50 English books and 230 Science books. How many books does
                        the library book have all together.
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>100 + 50 + 230</strong>
                <p>= 380</p>
            </mat-expansion-panel>
        </mat-accordion>

        <br>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3. A school has 340 boys and 250 girls. How many children are there in the school?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <p>340 + 250</p>
                <p>= 590</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card>
        <h2>Carry Over Examples</h2>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        1. What is 25 + 9?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>25 + 9</strong>
                <p>= 34</p>
            </mat-expansion-panel>
        </mat-accordion>

        <br>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        2. What is 599 + 366?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>599 + 366</strong>
                <p>= 965</p>
            </mat-expansion-panel>
        </mat-accordion>

        <br>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3. John made 216 runs in one innings and 85 in the second. What was his total score for the two
                        innings?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <p>216 + 85</p>
                <p>= 301</p>
            </mat-expansion-panel>
        </mat-accordion>

        <br>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        4. A sofaset worth is £7800.00 and chairs worth £5000.00 were bought for the home. What is the
                        total cost of these articles?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <p>£7800.00 + £5000.00</p>
                <p>= £12800.00</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>

    <mat-card>
            <a mat-button color="primary" routerLink="">Try The Addition Game</a>
    </mat-card>
</div>