.game {
    
    &__container {
    position: relative;
    height: 100%;
    }

    &__time {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1000;
    }
}

.form__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
}


