
  mat-spinner {
    margin-top: 300px;
    margin: auto;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 8px;

    mat-checkbox {
      width: 100%;

    }
  }

  mat-form-field {
    margin-bottom: 8px;
  }

  .mat-form-footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }