<div class="section">
    <h1>Learn Basic Math Subtraction</h1>
    <p>Subtraction means taking things away from a group. We can subtract the integers using the number line. Add a
        positive integer by moving to the right on number line Or when we take away a given number of objects from a
        given collection of objects is Subtraction.
        It is represented by the ‘- ’ sign.
        We cannot subtract greater number from smaller number.
    </p>

    <mat-card>
        <h2>Simple Examples</h2>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        1. Count 8 apples minus 2 apples = ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>8 - 2</strong>
                <p>8 apples minus 2 apples leave 6 apples.</p>
                <p>= 6</p>
            </mat-expansion-panel>
        </mat-accordion>

        <br>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        2. Subtract 5 from 589?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>589 - 5</strong>
                <p>Arrange the subtraction vertically.
                    First subtract 5 units from 9 units.</p>
                <p>Write 4 in the units place of difference.
                    Write 8 in the tens place and 5 in the hundreds place.</p>
                <p>= 584</p>
            </mat-expansion-panel>
        </mat-accordion>

        <br>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3. Subtract 35 from 879?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>

                <strong>879 - 35</strong>
                <p>Arrange the subtraction vertically.
                    First subtract 5 units from 9 units.</p>
                <p>Write 4 in the units place of difference.
                    Subtract 3 tens from 7 tens.</p>

                <p>Write 4 in the tens place and 8 in the hundreds place.</p>
                <p>= 844</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card>
        <h2>Word Examples</h2>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        1. Matt loses 9 marbles. Matt originally has 258 marbles. How many marbles does Matt have now?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>258 - 9</strong>
                <p>Arrange the subtraction vertically.
                    We cannot subtract 9 units from 8 units.</p>
                <p>Strike out the 5 in the tens place. Write 4 above it.
                    Strike out the 8 in the unit place. Write 18 above it.</p>
                <p>Write 9 in the units place in the difference.
                    Write 4 in the tens place and 2 in the hundreds place.</p>
                <p>= 249</p>
            </mat-expansion-panel>
        </mat-accordion>

        <br>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        2. A library has 786 books. Today 497 books were checked out of the library. How many books are
                        left.
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>786 - 497</strong>
                <p>= 289</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card>
        <h2>Carry Over Examples</h2>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        1. Sophia got 900 marks in the final exam. Lisa got 736 marks in the final exam. How many more
                        marks did Sophia get than Lisa?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Explanation</h4>
                <mat-divider></mat-divider>
                <strong>900 - 736</strong>
                <p>= 164</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>

    <mat-card>
            <a mat-button color="primary" routerLink="">Try The Addition Game</a>
    </mat-card>
</div>